<nav class="mt-4 flex-1 space-y-1 text-white">
  <ng-container *ngFor="let item of menuItems">
    <!-- Ítems con hijos -->
    <ng-container *ngIf="item.children; else singleLink">
      <button (click)="toggleMenu(item.label)"
              class="w-full flex items-center justify-between py-2 rounded-xl hover:bg-[#374151] hover:w-full transition-all duration-200">
        <div class="flex items-center gap-3">
          <mat-icon class="text-[#60A5FA]">{{ item.icon }}</mat-icon>
          <span class="text-sm font-medium">{{ item.label }}</span>
        </div>
        <mat-icon class="text-[#9CA3AF]">{{ expandedMenus[item.label] ? 'expand_less' : 'expand_more' }}</mat-icon>
      </button>

      <div *ngIf="expandedMenus[item.label]" class="ml-6 mt-1 space-y-1">
        <a *ngFor="let child of item.children"
           [routerLink]="child.route"
           routerLinkActive="bg-[#1E40AF] text-white"
           [routerLinkActiveOptions]="{ exact: true }"
           class="block px-4 py-2 rounded-lg hover:bg-[#2563EB] text-sm transition">
          <div class="flex items-center gap-2">
            <mat-icon class="text-xs text-[#93C5FD]">{{ child.icon }}</mat-icon>
            <span>{{ child.label }}</span>
          </div>
        </a>
      </div>
    </ng-container>

    <!-- Ítems sin hijos -->
    <ng-template #singleLink>
      <a [routerLink]="item.route"
         routerLinkActive="bg-[#1E40AF] text-white"
         [routerLinkActiveOptions]="{ exact: true }"
         class="flex items-center gap-3  py-2 rounded-xl hover:bg-[#374151] transition-all duration-200">
        <mat-icon class="text-[#60A5FA]">{{ item.icon }}</mat-icon>
        <span class="text-sm font-medium">{{ item.label }}</span>
      </a>
    </ng-template>
  </ng-container>
</nav>
