<nav class="fixed top-0 left-0 w-full z-50 backdrop-blur-sm bg-black/10 border-b border-white/10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">

      <!-- Logo -->
      <div class="flex-shrink-0">
        <img class="w-20" src="assets/logo-inteia.svg" alt="Logo" />
      </div>

      <!-- Menu -->
      <div class="hidden md:flex space-x-8 font-medium text-sm">
        <a *ngFor="let link of navLinks" (click)="scrollTo(link.id)"
          class="hover:text-purple-400 cursor-pointer transition duration-300 ease-in-out">
          {{ link.label }}
        </a>
      </div>


      <!-- Buttons -->
      <div class="hidden md:flex space-x-4">
        <a href="https://wa.link/y0qbo1" target="_blank" rel="noopener noreferrer">
          <button
            class="border border-white/40 hover:border-purple-400 text-sm px-4 py-1 rounded-lg bg-white/5 hover:bg-purple-500/20 transition">
            Contáctanos
          </button>
        </a>
        <a routerLink="/auth/login">
          <button class="bg-white/10 hover:bg-purple-500/30 text-sm px-4 py-1 rounded-lg transition">
            Iniciar sesión
          </button>
        </a>
      </div>

    </div>
  </div>
</nav>