<div class="flex flex-col h-screen font-exo text-white">

  <!-- Header -->
  <header class="px-6  bg-blue shadow-md flex justify-between items-center h-24">
    <img src="assets/logoE2E.png" alt="E2E" class="h-16">

    <div>
      <button  class="hover:text-cyan-400 transition">🌙</button>
    </div>
  </header>

  <!-- Main Content -->
  <div class="flex-1 flex">

    <!-- Sidebar -->
    <aside class="w-64 bg-gradient-to-b p-4 shadow-lg border-r border-white/10 bg-[rgba(15,23,42,0.89)]">
      <app-sidebar></app-sidebar>
    </aside>

    <!-- Page Content -->
    <main class="p-6 overflow-y-auto flex-1 bg-blue">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>